@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.location {
  height: 4rem;
  background-color: $content-background;
  padding: 1rem 1rem 0 1rem;
  &__names-container {
    display: flex;
    justify-content: space-between;
    @include tablet {
      width: 30rem;
    }
  }
  &__name {
    font-size: 0.8rem;
    font-weight: bold;
    margin: 0;
    @include tablet {
      font-size: 1rem;
    }
    &.selected {
      background-color: $primary-background;
    }
  }
  &__link {
    padding: 0.2rem;
    border: 1px solid black;
    border-radius: 4px;
    &:hover {
      background-color: $hover;
    }
    &:active {
      background-color: $active;
    }
    &.selected {
      color: $primary-background;

      background-color: $secondary-background;
    }
    @include tablet {
      display: flex;
      align-items: center;
      height: 2.5rem;
    }
  }
}
