@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.details {
  display: flex;
  justify-content: center;
  margin: 5rem 0;
  @include tablet {
    display: flex;
    justify-content: center;
  }
  @include desktop {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
  }
}
