@use "./typography";
@use "./mixins" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: Quicksand;
  font-weight: 400;
}
#root {
  @include flex(column);
  min-height: 100vh;

  main {
    flex: 1;
  }
}
a {
  text-decoration: none;
  color: black;
}
