// primary colors
$primary-text: #000000;
$primary-background: #ffdcfe;

// secondary colors
$secondary-background: #985fd3;
$page-background: #f5eee6;
$content-background: #e5e1da;
$hover: #eeebf0;
$hover-2: #777772;
$active: #a7a7a0;

// padding
$padding-mobile: 1rem;
$padding-mobile-header: 1.5rem;

$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
$max-content-width: 1020px;
