// primary colors
$primary-text: #000000;
$primary-background: #ffdcfe;

// secondary colors
$secondary-background: #985fd3;
$hover: #eeebf0;
$active: #a7a7a0;

$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
$max-content-width: 1020px;
