@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.stock-info {
  @include tablet {
    display: flex;
    justify-content: center;
    @include desktop {
      margin-top: 2rem;
    }
  }
  &__title {
    font-size: 1.1rem;
  }
  &__list {
    padding: 0 0 0 1rem;
  }
  &__list-item {
    @include tablet {
      margin-bottom: 0.5rem;
      @include desktop {
        margin-bottom: 1rem;
      }
    }
  }
}
