@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.footer {
  background-color: $secondary-background;

  bottom: 0;
  width: 100%;
  padding: 1rem 1rem 1rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  @include tablet {
    padding: 1rem;
  }

  &__text-container {
    @include tablet {
      width: 26rem;
      display: flex;
      justify-content: space-between;
    }
  }
  &__text {
    margin: 0;
    font-weight: 600;
    font-size: 0.6rem;
    @include tablet {
      font-size: 1.2rem;
    }
  }
  &__icon-container {
    width: 30%;
    display: flex;
    justify-content: space-between;
    @include tablet {
      justify-content: space-around;
    }
  }
  &__icon {
    width: 1.5rem;
    height: 1.5rem;
  }
}
