@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.message {
  height: 10rem;
  width: 100%;
  background-color: #f5eee6;
  padding: 0 1rem;
  &__constant {
    font-size: 1.25rem;
    font-weight: bold;
    margin: 0;
  }
  &__daily {
    padding: 0.5rem 0.5rem;
    width: 100%;
    height: 8rem;
    border: 1px solid $primary-text;
    border-radius: 4px;
  }
}
